build
sp_peaks.egg-info/
.ipynb_checkpoints
example/test_slics.ipynb
__pycache__
input/master_file.txt
input/master_file_cov.txt
input/parsed_cov_data.txt
input/parsed_cov_data.npy
output/L1_norm_data_vectors.npy
output/MS_PC_data_vectors.npy